<ion-header>
  <ion-toolbar mode="ios" class="ar-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div ion-fixed class="spotContainer" (click)="closePoiDetails()">
    <span *ngFor="let spot of spotsArray" [ngStyle]="{'left': spot.screenRelativePositionX + '%', 'top': spot.screenRelativePositionY + '%'}" (click)="openPoiDetails(spot['pin'], $event)">
      <img src="../../assets/imgs/marker-poi.png" [ngStyle]="{'width': spot.relativeSize + '%', 'height': spot.relativeSize + '%'}"/>
    </span>
  </div>

  <div ion-fixed class="spotDetails bg-white" *ngIf="showDetails()">
    <span class="f-18 f-medium f-uppercase c-dark">{{infosTitle}}</span>
    <span class="f-16 f-regular c-dark" [innerHtml]="infosDescription"></span>
  </div>
  -->
  <div ion-fixed class="spotContainer">
    <span *ngFor="let spot of spotArray" [ngStyle]="{'left': spot.screenRelativePositionX + '%', 'top': spot.screenRelativePositionY + '%'}">
    <!--<span>-->
      <img src="../../assets/imgs/marker.png" [ngStyle]="{'width': spot.relativeSize + '%', 'height': spot.relativeSize + '%'}"/>
    </span>
  </div>

  <!-- ONLY DEBUG -->
  <div style="position:absolute; top: 100px; left: 0;">
    <span *ngIf="fusionSensor$ | async as coord">alpha: {{coord.alfa}}<br>beta: {{coord.beta}}<br>gamma: {{coord.gamma}}<br></span>
  </div>

</ion-content>
