$c-white: #fff;
$c-black: #000;
$c-water-green: #048eab;
$c-grey: #777;
$c-light-grey-b7: #b7b7b7;
$c-light-grey-e0: #e0e0e0;

//FONT
.c-white {
    color: $c-white !important;
}
.c-black {
    color: $c-black !important;
}
.c-water-green {
    color: $c-water-green !important;
}
.c-grey {
    color: $c-grey !important;
}
.c-light-grey-e0 {
    color: $c-light-grey-e0;
}

//BACKGROUND
.bg-white {
    background-color: $c-white !important;
}
.bg-black {
    background-color: $c-black !important;
}
.bg-water-green {
    background-color: $c-water-green !important;
}
.bg-grey {
    background-color: $c-grey !important;
}
.bg-light-grey-e0 {
    background-color: $c-light-grey-e0;
}

@mixin bg-opacity($color, $opacity) {
    background-color: rgba($color, $opacity) !important;
}