@import '~ionic-angular-utilities/lib/styles/fonts';

$font-size-base: 10px;
$font-family-default: 'Roboto';

/***********************************
   * Font families
   ***********************************/
.f-family-roboto {
  font-family: 'Roboto' !important;
}