@import 'variables';
@import 'responsive';
@import 'mixins';

html {
    font-size: $font-size-base !important; //10px
    font-family: $font-family-default !important;
    --ion-default-font: #{$font-family-default} !important;
    height: 100%;
    width: 100%;
}

body {
    font-size: 1rem !important; // $font-size-base;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    //overflow: hidden;
}

//H
h1 {
    @include small-mobile() {
        font-size: $f-size-8 !important;
    }
    font-size: $f-size-9 !important;
}
h2 {
    @include small-mobile() {
        font-size: $f-size-6 !important;
    }
    font-size: $f-size-7 !important;
}
h3 {
    @include small-mobile() {
        font-size: $f-size-5 !important;
    }
    font-size: $f-size-6 !important;
}
h4 {
    @include small-mobile() {
        font-size: $f-size-4 !important;
    }
    font-size: $f-size-5 !important;
}
h5 {
    @include small-mobile() {
        font-size: $f-size-3 !important;
    }
    font-size: $f-size-4 !important;
}

ion-toolbar.ar-toolbar {
    --background: #{$ar-toolbar-background-color} !important;
    --min-height: #{$ar-toolbar-height} !important;

    @include small-mobile {
        --min-height: #{$ar-toolbar-height-small-mobile} !important;
    }

    ion-title {
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
    }

    ion-buttons {
        //background-color: $ar-buttons-background-color;
        @include gradient($ar-buttons-background-color, $ar-content-background-color, bottom);
        width: #{$ar-toolbar-height} !important;
        height: #{$ar-toolbar-height} !important;

        @include small-mobile {
            width: #{$ar-toolbar-height-small-mobile} !important;
            height: #{$ar-toolbar-height-small-mobile} !important;
        }

        ion-menu-button {
            display: block !important;
            float: none !important;
            margin: 0 auto !important;

            @include small-mobile {
                ion-icon.ar-menu-icon {
                    font-size: $f-size-6 !important;
                }
            }
        }
    }
}

ion-menu.ar-menu {
    --width: calc(100% - #{$ar-toolbar-height}) !important;

    /*@include small-mobile {
        --width: calc(100% - #{$ar-toolbar-height-small-mobile}) !important;
    }*/

    ion-header {
        ion-toolbar {
            text-align: center !important;
            --background: #{$ar-menu-toolbar-background-color} !important;
            --background: #{gradient($ar-menu-toolbar-background-color, $ar-content-background-color, bottom)} !important;
            --min-height: #{$ar-toolbar-height} !important;

            @include small-mobile {
                --min-height: #{$ar-toolbar-height-small-mobile} !important;
            }

            .logo {
                font-size: $ar-menu-logo-size !important;

                @include small-mobile {
                    font-size: $ar-menu-logo-size-small-mobile !important;
                }
            }
        }
    }
    ion-content {
        --background: #{gradient($ar-content-background-color, $c-white, bottom)} !important;

        ion-list {
            background-color: transparent !important;
            padding-top: $ar-menu-content-padding !important;

            ion-item {
                --background: transparent !important;
                border-bottom: $ar-menu-item-border !important;
                --padding-start: #{$ar-menu-content-padding} !important;

                ion-icon {
                    color: $c-grey !important;
                    margin : 0 $ar-menu-content-padding 0 0 !important;

                    @include small-mobile {
                        font-size: $f-size-6 !important;
                    }
                }

                ion-label {
                    color: $c-grey !important;
                }

                &.active {
                    ion-label, ion-icon {
                        color: $c-water-green !important;
                    }
                }
            }
        }
    }
}

menu-overlay > div{
    z-index: -10;
    opacity: 0;
    @include transition(opacity $menu-overlay-opacity-time linear);
}

ion-menu.show-menu + ion-router-outlet menu-overlay > div {
    z-index: 10000;
    opacity: $menu-overlay-opacity;
}

.ar-container {
    --background: #{$ar-content-background-color} !important;
}

.flippable-card {
    background-color: transparent;
    width: calc(100% - 2rem);
    margin: 1rem;
    min-height: 15rem;
    @include perspective(1000px);

    .card-inner {
        width: 100%;
        height: 100%;
        
        position: absolute !important;
        @include transition-transform(.8s);
        transform-style: preserve-3d;

        &.rotated {
            @include transform(rotateY(-180deg));
        }

        .front, .back {
            width: 100%;
            height: 100%;
            padding: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            border-radius: 5px;
            overflow: hidden;
            @include box-shadow-inline(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
        }

        .front {
        }

        .back {
            @include transform(rotateY(180deg));
        }
    }
}

ion-aler.ar-alert {
    button {
        color: $c-water-green !important;
    }
}

ion-toast.ar-toast {
    &.error-toast {
        --background: #{$ar-error-toast-background-color} !important;
    }
    &.success-toast {
        --background: #{$ar-success-toast-background-color} !important;
    }
}