@import '~ionic-angular-utilities/lib/styles/layout';
@import '~ionic-angular-utilities/lib/styles/responsive';

@import 'variables';

html {
    font-size: $font-size-base !important; //10px
    font-family: $font-family-default !important;
    --ion-default-font: #{$font-family-default} !important;
    height: 100%;
    width: 100%;

    @include small-mobile {
        font-size: $font-size-base * 0.8 !important; //8px
    }
    @include tablet {
        font-size: $font-size-base * 1.4 !important; //14px
    }
    @include big-screen {
        font-size: $font-size-base * 1.6 !important; //16px
    }
    @include hd {
        font-size: $font-size-base * 1.8 !important; //18px
    }
    @include full-hd {
        font-size: $font-size-base * 2 !important; //20px
    }
    @include wide-quad-hd {
        font-size: $font-size-base * 2.6 !important; //26px
    }
    @include ultra-hd {
        font-size: $font-size-base * 4 !important; //40px
    }
}

body {
    font-size: 1rem !important; // $font-size-base;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    //overflow: hidden;
}

//H
h1 {
    @include small-mobile {
        font-size: $f-size-8 !important;
    }
    font-size: $f-size-9 !important;
}
h2 {
    @include small-mobile {
        font-size: $f-size-6 !important;
    }
    font-size: $f-size-7 !important;
}
h3 {
    @include small-mobile {
        font-size: $f-size-5 !important;
    }
    font-size: $f-size-6 !important;
}
h4 {
    @include small-mobile {
        font-size: $f-size-4 !important;
    }
    font-size: $f-size-5 !important;
}
h5 {
    @include small-mobile {
        font-size: $f-size-3 !important;
    }
    font-size: $f-size-4 !important;
}

ion-toolbar.ar-toolbar {
    --background: var(--ion-color-primary) !important;
    --min-height: #{$ar-toolbar-height} !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --padding-top: 0 !important;
    --padding-bottom: 0 !important;

    @include small-mobile {
        --min-height: #{$ar-toolbar-height-small-mobile} !important;
    }

    ion-title {
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
    }

    ion-buttons {
        background: linear-gradient(var(--ion-color-medium-lighter), var(--ion-color-light)) !important;
        
        width: #{$ar-toolbar-height} !important;
        height: #{$ar-toolbar-height} !important;

        @include small-mobile {
            width: #{$ar-toolbar-height-small-mobile} !important;
            height: #{$ar-toolbar-height-small-mobile} !important;
        }

        ion-menu-button {
            display: block !important;
            float: none !important;
            width: 100% !important;
            height: 100% !important;
            margin: 0 auto !important;

            @include small-mobile {
                ion-icon.ar-menu-icon {
                    font-size: $f-size-6 !important;
                }
            }
        }

        ion-back-button {
            --color: var(--ion-color-medium);
            --icon-font-size: #{$ar-back-button-font-size} !important;
            width: 100% !important;
            height: 100% !important;
            --margin-start: 0 !important;
            --margin-end: 0 !important;
            --padding-start: 0 !important;
            --padding-end: 0 !important;
        }
    }
}

ion-menu.ar-menu {
    --width: calc(100% - #{$ar-toolbar-height}) !important;

    ion-header {
        ion-toolbar {
            text-align: center !important;
            --background: var(--ion-color-medium-lighter) !important;
            --background: linear-gradient(var(--ion-color-medium-lighter), var(--ion-color-light)) !important;
            --min-height: #{$ar-toolbar-height} !important;

            @include small-mobile {
                --min-height: #{$ar-toolbar-height-small-mobile} !important;
            }

            .logo {
                font-size: $ar-menu-logo-size !important;
            }
        }
    }
    ion-content {
        --background: linear-gradient(var(--ion-color-light), #{$c-white}) !important;

        ion-list {
            background-color: transparent !important;
            padding-top: $ar-menu-content-padding !important;

            ion-item {
                --background: transparent !important;
                border-bottom: $ar-menu-item-border !important;
                --padding-start: #{$ar-menu-content-padding} !important;

                ion-icon {
                    color: var(--ion-color-medium) !important;
                    margin : 0 $ar-menu-content-padding 0 0 !important;
                }

                ion-label {
                    color: var(--ion-color-medium) !important;
                }

                &.active {
                    ion-label, ion-icon {
                        color: var(--ion-color-primary) !important;
                    }
                }
            }
        }
    }
}

menu-overlay > div{
    z-index: -10;
    opacity: 0;
    @include transition(opacity $menu-overlay-opacity-time linear);
}

ion-menu.show-menu + ion-router-outlet menu-overlay > div {
    z-index: 10000;
    opacity: $menu-overlay-opacity;
}

.ar-spinner {
    --content-background: #{$ar-spinner-background-color};
    --size: #{$ar-spinner-side};
    --element-color: var(--ion-color-primary);
}

ion-content.ar-container {
    --background: var(--ion-color-light) !important;
}

.flippable-card {
    background-color: transparent;
    width: calc(100% - 2rem);
    margin: 1rem;
    min-height: 15rem;
    @include perspective(1000px);

    .card-inner {
        width: 100%;
        height: 100%;
        
        position: absolute !important;
        @include transition-transform(.8s);
        transform-style: preserve-3d;

        &.rotated {
            @include transform(rotateY(-180deg));
        }

        .front, .back {
            width: 100%;
            height: 100%;
            padding: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            border-radius: 5px;
            overflow: hidden;
            @include box-shadow-inline(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
        }
        .back {
            @include transform(rotateY(180deg));
        }
    }
}