@import 'variables';
@import 'responsive';
@import 'mixins';

html {
    font-size: $font-size-base !important; //10px
    font-family: $font-family-default !important;
    height: 100%;
    width: 100%;
}

body {
    font-size: 1rem !important; // $font-size-base;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    //overflow: hidden;
}

//H
h1 {
    @include small-mobile() {
        font-size: $f-size-8 !important;
    }
    font-size: $f-size-9 !important;
}
h2 {
    @include small-mobile() {
        font-size: $f-size-6 !important;
    }
    font-size: $f-size-7 !important;
}
h3 {
    @include small-mobile() {
        font-size: $f-size-5 !important;
    }
    font-size: $f-size-6 !important;
}
h4 {
    @include small-mobile() {
        font-size: $f-size-4 !important;
    }
    font-size: $f-size-5 !important;
}
h5 {
    @include small-mobile() {
        font-size: $f-size-3 !important;
    }
    font-size: $f-size-4 !important;
}