//RESPONSIVE MEDIA QUERIES
$device-small: "all and (max-width: 320px)";
$device-normal: "all and (min-width: 321px) and (max-width: 480px)";
$device-large: "all and (min-width: 481px) and (max-width: 768px)";
$device-xlarge: "all and (min-width: 769px)";
$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";
$res_2_3: "(device-aspect-ratio: 2/3)";
$res_3_4: "(device-aspect-ratio: 3/4)";
$res_min_512_685: "(min-aspect-ratio: 512/683)";    //iPad pro ratio
$iphone_6_plus_height: "736px";

@mixin portrait {
    @media #{$portrait} {
        @content;
    }
}

@mixin landscape {
    @media #{$landscape} {
        @content;
    }
}

@mixin small-mobile {
    @media #{$device-small} {
        @content;
    }
}

@mixin smartphone {
    @media #{$device-normal} {
        @content;
    }
}

@mixin tablet {
    @media #{$device-large} {
        @content;
    }
}

@mixin big-screen {
    @media #{$device-xlarge} {
        @content;
    }
}

.no-small-mobile {
    @include small-mobile {
        display: none !important;
    }
}