@import 'fonts';
@import 'colors';

$ar-toolbar-height: 56px;
$ar-toolbar-height-small-mobile: 48px;
$ar-toolbar-background-color: $c-water-green;

$ar-buttons-background-color: $c-light-grey-c0;

$ar-menu-button-color: $c-grey;
$ar-menu-toolbar-background-color: $c-light-grey-c0;
$ar-menu-logo-size: 4rem;
$ar-menu-logo-size-small-mobile: 3.6rem;
$ar-menu-content-padding: 1.6rem;
$ar-menu-item-border: 1px solid $c-light-grey-b7;

$ar-back-button-color: $c-grey;
$ar-back-button-font-size: 20px;

$ar-content-background-color: $c-light-grey-f1;

$ar-spinner-background-color: $c-black-32;
$ar-spinner-side: 4rem;

$ar-error-toast-background-color: $c-grey;
$ar-success-toast-background-color: $c-water-green;

$menu-overlay-opacity: .5;
$menu-overlay-opacity-time: .3s;
