@import 'fonts';
@import 'colors';

//LAYOUT AND COMPONENTS VARIABLES
    //Override ionic components
    
    //Custom enology components
$ar-toolbar-height: 5.6rem;
$ar-toolbar-background-color: $c-water-green;
$ar-buttons-background-color: $c-light-grey-e0;
$ar-menu-toolbar-background-color: $c-light-grey-e0;
