<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="armenu" class="f-24"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic Location AR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    Benvenuto nell'app Ionic Location Based Augmented Reality.
    L'applicazione propone un'implementazione di realtà aumentata basata su geolocalizzazione
    fatta in casa per mezzo dei sensori di movimento (accelerometro, gisoscopio e magnetometro),
    del sistema di posizionamento geolocalizzato (gps), e di un servizio Rest che restituisce
    un elenco di punti di interesse (poi) da mostrare.
  </div>
</ion-content>
