<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="armenu" class="f-26 c-white"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="f-family-josefin f-20 f-weight-600 c-white">Ionic location based AR</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    Benvenuto nell'app Ionic Location Based Augmented Reality.
    L'applicazione propone un'implementazione di realtà aumentata basata su geolocalizzazione
    fatta in casa per mezzo dei sensori di movimento (accelerometro, gisoscopio e magnetometro),
    del sistema di posizionamento geolocalizzato (gps), e di un servizio Rest che restituisce
    un elenco di punti di interesse (poi) da mostrare.
  </div>
</ion-content>
