<ion-header>
  <ion-toolbar mode="ios" class="ar-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="armenu" class="f-26 c-grey"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="f-family-josefin f-20 f-weight-600 c-white">Ionic location based AR</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ar-container">
  <div class="mainContainer flippable-card" (click)="cardRotated = !cardRotated">
    <div class="card-inner" [ngClass]="{rotated: cardRotated}">
      <div class="front">
        <div class="mainInfos">
          <span class="title f-16 f-weight-600 c-grey">{{'WELCOME' | translate}}</span>
          <p class="f-14 f-weight-400" [innerHtml]="'AR_MODULES' | translate"></p>
        </div>
        <div class="goToAlgorithmContainer">
          <span class="f-18 f-weight-600 c-grey">{{'GO_TO_ALGORITHM' | translate}}</span>
          <ion-icon name="arrow-forward" class="f-20 c-grey"></ion-icon>
        </div>
      </div>
      <div class="back">
        <span class="f-12 c-grey">
          Di seguito viene proposto in maniera semplificata il funzionamento dell'applicazione.<br>Tutti i valori configurabili
          sono modificabili in fase di sviluppo nel file constants.ts (directory src/util), compreso l'endpoint del servizio per il
          recupero dei POI, attualmente mockato mediante il file poi-list.json.<br>Il base url, della macchina su cui fa risiedere il servizio è configurabile dai file environment.ts ed environment.prod.ts (utilizzato da Ionic
          quando l'app viene eseguita con il flag --prod). Da questi file è inoltre possibile disattivare l'utilizzo del mock disattivando
          il corrispettivo flag (porlo a false).
        </span>
        <ol class="f-12" style="padding-left: 20px">
          <li>
            Attivazione della fotocamera come background della view, e recupero dell'angolo del suo campo visivo (FOV).
          </li>
          <li>
            Attivazione a frequenza costante (configurabile) del sensore gps, e dei sensor fusion (accelerometro, giroscopio, magnetometro).
          </li>
          <li>
            All'arrivo dei dati gps, verifico che lo spostamento dell'utente sia di almeno GPS_MIN_DISTANCE_FILTER metri. Se questo è vero,
            recupero i POI mediante il servizio Rest. Per ogni POI compreso nei RADAR_POI_RADIUS metri dall'utente, calcolo informazioni di distanza e orientamento popolando un array di pin.
          </li>
          <li>
            All'arrivo dei dati di orientamento mediante i fusion sensor, per ogni pin verifico se esso è contenuto nel cono visivo del dispositivo (l'angolo FOV in gradi recuperato precedentemente).
            Tutti i pin che rientrano in questo cono visivo vengono inseriti in un array di spot con informazioni per ognuno di essi di spiazzamento per la loro visualizzazione su schermo.
          </li>
          <li>
            Ogni spot dello spot array viene inserito nella view in sovrapposizione alla fotocamera in base alle informazioni di spiazzamento precedentemente calcolate.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <menu-overlay></menu-overlay>
</ion-content>