<ion-header>
  <ion-toolbar mode="ios" class="ar-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="armenu" class="f-26 c-grey"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="f-family-josefin f-20 f-weight-600 c-white">About the author</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ar-container">
  <ion-card>
    <p class="f-16 f-weight-400 c-grey" [innerHtml]="'ABOUT_ME' | translate">
    </p>
  </ion-card>
  <menu-overlay></menu-overlay>
</ion-content>