@import '~ionic-angular-utilities/lib/styles/mixins';
@import '~ionic-angular-utilities/lib/styles/responsive';
@import '../../styles/colors';
@import '../../styles/fonts';

ion-content {
    width: 100%;
    height: 100%;
    z-index: 10000000;
    opacity: 1;
    @include transition(opacity .5s linear);

    &.fadeOut {
        opacity: 0;
    }
}

.splashContainer {
    background-color: var(--ion-background-color);
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    @include transition(opacity .3s linear, background-color .3s linear);

    &.fadeIn {
        opacity: 1;
    }

    ion-icon {
        color: var(--ion-color-secondary);
        font-size: 10rem !important;
        margin-bottom: 4rem;
        @include transition(color .3s linear);

        @include small-mobile {
            font-size: 8rem !important;
        }
    }

    div {
        color: var(--ion-color-primary);
        @include transition(color .3s linear);
    }

    &.colorFade {
        background-color: var(--ion-color-primary);

        ion-icon, div {
            color: var(--ion-background-color) !important;
        }
    }
}
