<ion-content *ngIf="(splashState$ | async) as state" [ngClass]="{fadeOut: state === 'fadeOut'}">
    <div class="splashContainer" [ngClass]="{
      fadeIn: state !== 'active' && state !== 'inactive',
      colorFade: state === 'animation' || state === 'fadeOut'
    }">
      <div class="centering-container">
        <div class="content centered-container">
          <ion-icon src="assets/icon/marker.svg"></ion-icon>
          <div class="f-30 f-family-josefin f-weight-600">
            Ionic<br>Location based<br>Augmented Reality
          </div>
        </div>
      </div>
    </div>
</ion-content>