<ion-content *ngIf="(splashState$ | async) as state" [ngClass]="{fadeOut: state === 'fadeOut'}">
  <div class="splashContainer" [ngClass]="{
    fadeIn: state !== 'active' && state !== 'inactive',
    colorFade: state === 'animation' || state === 'fadeOut'
  }">
    <centralizer>
      <ion-icon src="assets/icon/marker.svg"></ion-icon>
      <div class="f-30 f-family-josefin f-weight-600">
        Ionic<br>Location based<br>Augmented Reality
      </div>
    </centralizer>
  </div>
</ion-content>