@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixins';
@import '../../styles/responsive';

ion-content {
    width: 100%;
    height: 100%;
    z-index: 10000000;
    opacity: 1;
    @include transition(opacity .5s linear);

    &.fadeOut {
        opacity: 0;
    }
}

.splashContainer {
    background-color: $c-white;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    @include transition(opacity .3s linear, background-color .3s linear);

    &.fadeIn {
        opacity: 1;
    }

    .content {
        width: 100%;

        ion-icon {
            color: $c-red;
            font-size: 10rem !important;
            margin-bottom: 4rem;
            @include transition(color .3s linear);

            @include small-mobile {
                font-size: 8rem !important;
            }
        }

        div {
            color: $c-water-green;
            @include transition(color .3s linear);

            @include small-mobile {
                font-size: $f-size-8 !important;
            }
        }
    }

    &.colorFade {
        background-color: $c-water-green;

        ion-icon, div {
            color: $c-white !important;
        }
    }
}
