<splash *ngIf="showSplash"></splash>
<spinner *ngIf="showSpinner$ | async"></spinner>

<ion-app>
  <ion-split-pane>
    <ion-menu swipeGesture="false" class="ar-menu">
      <ion-header>
        <ion-toolbar class="ar-toolbar">
          <ion-icon name="armarker" class="logo c-water-green"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="p.url" [routerDirection]="p.direction" routerLinkActive="active">
              <ion-icon slot="start" [name]="p.icon" class="f-24"></ion-icon>
              <ion-label class="f-family-josefin">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>